In [10]:
import numpy as np
import pandas as pd

In [18]:
df_20170330play = pd.read_csv('/Users/cheng/Desktop/music/search/20170330_1_search.log', sep=" \t")

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [19]:
df_20170330play.head()

                                                              nohup: ignoring input
168050208 ar 2017-03-30 00:00:00               %E5%87%A4%E5%87%B0%E4%BC%A0%E5%A5%87
167659521 ar 2017-03-30 00:00:01                                 %E5%B0%8F%E6%B4%B2
168411725 ip 2017-03-30 00:00:01  %e5%ae%b9%e4%b8%ad%e5%b0%94%e7%94%b2%20%20%e9%...
167852824 ar 2017-03-30 00:00:02               %E9%83%BD%E6%98%AF%E5%85%84%E5%BC%9F
168043780 ar 2017-03-30 00:00:02                        %E8%91%AB%E8%8A%A6%E4%B8%9D

In [3]:
df_down = pd.read_csv('/Users/cheng/Desktop/music/down_ds.csv')

In [4]:
df_down.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628756 entries, 0 to 628755
Data columns (total 4 columns):
uid        628756 non-null int64
device     628756 non-null object
song_id    628741 non-null float64
date       628756 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 19.2+ MB

In [5]:
df_down.describe()

                uid       song_id
count  6.287560e+05  6.287410e+05
mean   1.669588e+08  5.719244e+06
std    1.304062e+07  6.256063e+06
min    1.267210e+05  5.425800e+04
25%    1.680272e+08  8.498750e+05
50%    1.684670e+08  4.282535e+06
75%    1.688053e+08  6.854163e+06
max    1.692623e+08  2.402326e+07

In [6]:
display(df_down.head(5))

         uid device    song_id        date
0  168019810     ar   442554.0  2017-03-30
1  168019810     ar  6334611.0  2017-03-30
2  168019810     ar  9867382.0  2017-03-30
3  168019810     ar  6660691.0  2017-03-30
4  168019810     ar   157606.0  2017-03-30

In [7]:
df_play = pd.read_csv('/Users/cheng/Desktop/music/play_ds.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8086409 entries, 0 to 8086408
Data columns (total 6 columns):
uid            int64
device         object
song_id        object
date           object
play_time      object
song_length    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 370.2+ MB

In [9]:
df_play.describe()

                uid   song_length
count  8.086409e+06  8.085292e+06
mean   1.663765e+08 -2.940249e+03
std    1.502476e+07  2.616209e+06
min    1.267210e+05 -2.147484e+09
25%    1.679490e+08  1.940000e+02
50%    1.683395e+08  2.380000e+02
75%    1.687012e+08  2.760000e+02
max    1.692623e+08  2.511790e+05

In [10]:
display(df_play.head(5))

         uid device      song_id        date play_time  song_length
0  168551042     ar       505355  2017-03-30       106        277.0
1  168551430     ar  1.17922e+06  2017-03-30       231        231.0
2  168551626     ar  8.13149e+06  2017-03-30       247        271.0
3  168550237     ar  6.51107e+06  2017-03-30       144        237.0
4  168551487     ar       811133  2017-03-30       200        200.0

In [11]:
df_event = pd.read_csv('/Users/cheng/Desktop/music/event_ds.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9486047 entries, 0 to 9486046
Data columns (total 4 columns):
uid        int64
event      object
song_id    object
date       object
dtypes: int64(1), object(3)
memory usage: 289.5+ MB

In [13]:
df_event.describe()

                uid
count  9.486047e+06
mean   1.664543e+08
std    1.476517e+07
min    1.267210e+05
25%    1.679557e+08
50%    1.683548e+08
75%    1.687141e+08
max    1.692623e+08

In [14]:
display(df_event.head(5))

         uid event      song_id        date
0  168551042     P       505355  2017-03-30
1  168551430     P  1.17922e+06  2017-03-30
2  168551626     P  8.13149e+06  2017-03-30
3  168550237     P  6.51107e+06  2017-03-30
4  168551487     P       811133  2017-03-30

In [18]:
df_search = pd.read_csv('/Users/cheng/Desktop/music/search_ds.csv')

In [19]:
df_search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770882 entries, 0 to 770881
Data columns (total 3 columns):
uid       770882 non-null int64
device    770882 non-null object
date      770882 non-null object
dtypes: int64(1), object(2)
memory usage: 17.6+ MB

In [20]:
df_search.describe()

                uid
count  7.708820e+05
mean   1.668592e+08
std    1.325018e+07
min    1.267210e+05
25%    1.679963e+08
50%    1.684099e+08
75%    1.687583e+08
max    1.692623e+08

In [21]:
display(df_search.head(5))

         uid device        date
0  168040163     ar  2017-03-30
1  168020662     ip  2017-03-30
2  168045723     ar  2017-03-30
3  167820265     ar  2017-03-30
4  168045723     ar  2017-03-30